.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 2rem;
}

code {
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: block;
  margin: 1rem 0;
  font-family: monospace;
}
